<h1>{{ movie.title }}</h1>

<h2>Cast</h2>

<ul>
{% for castMember in movie.credits.cast %}
    <li>{{ castMember.name }}</li>
{% endfor %}
</ul>

<h2>Crew</h2>

<ul>
    {% for crewMember in movie.credits.crew %}
        <li>{{ crewMember.name }}</li>
    {% endfor %}
</ul>

{{ movie.backdropImage|tmdb_image_url }}<br />

{% for image in movie.images %}
    {{  image|tmdb_image_html('original', null, 50)|raw }}<br />
{% endfor %}